body{
    margin: 0;
    padding: 0;
}
.col{
  
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 5px;
    height: 8rem;
    text-transform:capitalize;
    background: linear-gradient(rgb(218, 44, 44), rgb(37, 37, 36));
}